#form-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(12,16,27);
    padding: 1vmin;
    width: 100vw;
    border-top: 1px solid rgb(116, 116, 116);
    z-index: 1;
    margin-top: 2px;
    margin-bottom: 5rem;
}

.form-variable {
    height: 30%;
}

#grid-item-form {
    display: grid;
    grid-column: 1 / span 8;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: space-between;
    padding: 1vmin 2.5vmin 2vmin 2.5vmin;
}

#grid-item-form-origin {
    display: grid;
    grid-column: 1 / span 8;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: space-between;
    padding: 1vmin 2.5vmin 2vmin 2.5vmin;
}

#form-variable-2 {
    display: grid;
    grid-column: 1 / span 8;
    grid-row: 2 / span 2;
    display: flex;
    justify-content: space-between;
    padding: 1vmin 2.5vmin 2vmin 2.5vmin;
}

.info-container {
    z-index: 2;
}

#input1,
#input2 {
    margin-top: 1vh;
    width: 35vh;
    padding: 2.5vmin;
    border-radius: 5px;
    border: none;
}

.add-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1vh;
}

.add-input-btn {
    border: none;
}

.input {
    width: 35vh;
    padding: 1.5vmin;
    border-radius: 5px;
    border: none;
    background-color: rgb(204, 204, 204);
}
#submit-btn {
    border: none;
    background-color: transparent;
}
.submit-icon {
    width: 5vh;
    height: 5vh;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0.3vh;
}

#submit-btn:hover {
    background-color: rgb(135, 135, 135);
}
