#history {
    display: flex;
    flex-direction: column;
    padding: 0vmin 2.5vmin 0 2.5vmin;
    width: 100%;
}
.recents-title {
    font-size: 4vmin;
    margin-top: 1vh;
    color: rgba(0, 0, 0, 0.737);
}

.saved-item-container, .history-item-container {
    margin: 0.5vh 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.history-container {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 1.5rem;
}
.history-item-container {
    align-items: flex-start;
    padding-left: 1vh;
}
.saved-item-container {
    margin: 0.5vh 2vh;
}

.saved-item {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgba(238, 238, 238, 0.983);
}

.saved-item:hover {
    background-color: rgb(181, 181, 181);
}

.recent-items-text {
    margin-top: 0.5rem;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.batman-logo-img {
    height: 3vh;
    width: 3vh;
    margin-right: 1vh;
}
