.route-directions-container {
    height: 10%;
    background-color: whitesmoke;
    color: black;
}
.journey {
    height: 75%;
    background-color: #0c101b;
}

#form-container,
#start-journey {
    display: flex;
    flex-direction: column;
    background-color: #eeeeeefb;
    padding: 1vmin;
    width: 100vw;
    border-top: 1px solid rgb(116, 116, 116);
    box-shadow: 0 4px 100px rgb(205, 205, 205);
    z-index: 1;
    margin-top: 2px;
    margin-bottom: 5rem;
}

.journey-top-strip {
    height: 8vh;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 100px rgb(0, 0, 0);
    z-index: 1;
    margin-bottom: 2px;
}

#strip-p {
    width: 100%;
    padding-top: 1.5vh;
    text-align: center;
    color: #eeeeeefb;
}

#start-journey {
    height: 28%;
    padding: 1rem;
    background-color: #0c101b;
    color: #eeeeeefb;
}

#start-journey-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.warnings {
}

#go-back-btn {
    width: 40vw;
    height: 5vh;
    background-color: rgba(224, 224, 224, 0.684);
    color: #263746;
    font-weight: 900;
    margin: 0.5rem;
}

#go-btn {
    width: 40vw;
    height: 5vh;
    background-color: #263746;
    color: white;
    font-weight: 900;
}

.exit-journey-btn {
    height: 5vh;
    padding: 0 1rem;
    margin: 0.5rem 0;
    align-self: flex-end;
    background-color: #263746;
    color: white;
}

.journey-details-container {
    background: #0c101b;
    padding: 10px;
    color: white;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.arrival-time {
    font-size: 7vmin;
    font-weight: 900;
}
.journey-intro {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.journey-details {
    font-size: 4.5vmin;
    font-weight: 600;
}
